@model IEnumerable<eProjectP3.Models.education_application>

@{
    ViewBag.Title = "Education";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="wrapper-table">
    <table class="table">
        <tr>
            <th>
                Staff Name
            </th>
            <th>
                Subject
            </th>
            <th>
                Type
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.staff.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @item.Date.Value.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(model => item.Time)
                </td>
                <td>
                    <div class="list-btn">
                        <a href="/admin/education/details/@item.Education_ID" class="btn"><span>Detail</span></a>
                        <a href="/admin/education/delete/@item.Education_ID" class="btn"><span>Delete</span></a>
                    </div>
                </td>
            </tr>
        }
    </table>

    <p>
        <a href="/admin/education/create" class="btn btn-create"><span>Create new</span></a>
    </p>
</div>
