@model eProjectP3.Models.client

@{
    ViewBag.Title = "Client";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="wrapper-table">
    <h3>Detail</h3>
    <dl class="dl-horizontal">
        <dt>
            Clinic Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clinic_Name)
        </dd>
        <dt>
            Clinic Password
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clinic_Password)
        </dd>
        <dt>
            Contact Person
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact_Person)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Phone
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            Address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="wrapper-btn">
            <a href="/admin/clients/edit/@Model.Client_ID" class="btn"><span>Edit</span></a>
            <a href="/admin/clients/index" class="btn"><span>Back to List</span></a>
        </div>
    }
</div>


